<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-img' %>
    </div>
    
    <div class="col-md-6">
      
      
      <div class="user-wrapper">
        <h1 class="username"><%= @user.profile.restaurant_name %></h1>
          <a class="edit-profile">
            <button>Edit Profile</button>
          </a>
      </div>
        <div class="well">
          <%= @user.profile.street %><br/>
          <%= @user.profile.city %><br/>
          <%= @user.profile.state %><br/>
          <%= @user.profile.zipcode %><br/>
          <%= @user.profile.cuisine %><br/>
          <%= @user.profile.website %><br/>
          <%= @user.profile.hours %><br/>
          <%= @user.profile.phone_number %><br/>

          
          <div id="place_longitude">
              <%= @user.profile.longitude %>
          </div>
          <div id="place_latitude">
              <%= @user.profile.latitude %>
          </div>
          <div>
            
            Distance to: <% if user_signed_in? %><%= current_user.distance_to("#{@user.profile.latitude} #{@user.profile.longitude}").round(1) %> mi
            <% end %>
          </div>

      </div>
      
      
      <!---google map-->
      <div class="row">
        
        <div id="map" style="width: 100%; height: 400px"></div>


        
      </div>

    </div>
  </div>
</div>    




<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    ORDERED
  </a>
</div>



<!-- for Picture post underneath profile -->

