<div class="home-callout text-center container-fluid">
  <div class="well2"style="color: white;">
    <h1>Welcome to Lunchora</h1>
    <h3 style=" margin-top: 10px;">A site where food lovers can find lunch and dinner daily specials posted by local restaurants.</h3>
  </div>
</div>
<div class="container home-signup-links text-center">
  <div class="row">
    <% if user_signed_in? %>
      <% if current_user.plan_id == 2 %>
      <div class="col-md-6">
        <div class="well">
          
          <h2 class="text-center"> Your Profile</h2>
          <% end %>
          
          <% if current_user.profile %>
             <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
             <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
             <%= link_to "Post your specials!", new_post_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
          <% if current_user.plan_id == 2 %>
            <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>
          <% end %>
        </div>
      </div>
      
    <% else%>
    
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center"style="margin-top: 15px;">Food Lovers</h2>
          <h4>Sign up to get food specials near you.</h4>
          <%= link_to "Customer Sign up", new_user_registration_path(plan: @customer_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center"style="margin-top: 15px;">Restaurants</h2>
          <h4>Sign up to post your daily specials.</h4>
          <%= link_to "Restaurant Sign up", new_user_registration_path(plan: @restaurant_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="posts container">
      <% @posts.each do |post| %>
        <section class="post">
          <!-- post view -->
          <div class="user">
        <div class="avatar">
          <%= link_to post.user do %>
            <%= image_tag post.user.profile.avatar %>
          <% end %>
        </div>
        <div class="username">
          <%= post.user.profile.restaurant_name %></br>
          <div class="city-style">
          <%= post.user.profile.city %>
          </div>
        </div>
      </div>
      <%= link_to post.user do %>
        <%= image_tag post.image, class: 'main-image' %>
      <% end %>
      <div class="description">
        <%= post.description %>
      </div>
        </section>
      <% end %>
    </div>
  </div>
</div>
