<div class="home-callout text-center container-fluid">

  <div class="well2"style="color: white;">
    <h1>Welcome to Lunchora</h1>
    <h3 style=" margin-top: 10px;">A site where food lovers can find lunch and dinner daily specials posted by local restaurants.</h3>
  </div>

  <nav class="panel">
    <p class="text-uppercase has-text-gray text-center pv1 f6">
      filter by special type
    </p>

    <div class="text-center home-signup-links container-fluid">
      <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; margin-bottom: 15px;">
        <%= link_to 'Lunch', posts_path(special_type: "Lunch"), class: "btn btn-primary", style: "margin-left: 10px; margin-right: 10px;" %>
        <%= link_to 'Happy-Hour', posts_path(special_type: "Happy-Hour"), class: "btn btn-primary", style: "margin-left: 10px; margin-right: 10px;" %>
        <%= link_to 'Dinner', posts_path(special_type: "Dinner"), class: "btn btn-primary", style: "margin-left: 10px; margin-right: 10px;" %>
      </div>
    </div>
  </nav>

<div class="container home-signup-links text-center">
  <div class="row">
    <% if user_signed_in? %>
      <% if current_user.plan_id == 2 %>
      <div class="col-md-6">
        <div class="well">

          <h2 class="text-center"> Your Profile</h2>
          <% end %>
          <% if current_user.profile %>
             <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
             <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
             <%= link_to "Post your specials!", new_post_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
          <% if current_user.plan_id == 2 %>
            <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>
          <% end %>
        </div>
      </div>

    <% else%>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center"style="margin-top: 15px;">Food Lovers</h2>
          <h4>Sign up to get food specials near you.</h4>
          <%= link_to "Customer Sign up", new_user_registration_path(plan: @customer_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center"style="margin-top: 15px;">Restaurants</h2>
          <h4>Sign up to post your daily specials.</h4>
          <%= link_to "Restaurant Sign up", new_user_registration_path(plan: @restaurant_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="card-columns">
  <div class="wrapper">
    <div class="col-md">
      <div class="posts container" style ="display: flex; flex-wrap: wrap;">
        <% @posts.each do |post| %>
          <section class="post" style ="width: 340px; 
            min-width: 340px;
            border-left-width: 1px;
            border-right-width: 1px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
            margin-right: 5px;
            border-bottom-width: 2px;
            border-top-width: 2px;
            margin-left: 5px;
            border-radius: 20px;">
            <!-- post view -->
            <div class="user">
          <div class="avatar">
            <%= link_to post.user do %>
              <% if post.user.profile %>
                <%= image_tag post.user.profile.avatar.url %>
              <% end %>
            <% end %>
          </div>
          <div class="username">
            <% if post.user.profile %>
            <%= post.user.profile.restaurant_name %> <div class="btn btn-danger" style="margin-left: 100px;">
            <%= special_type(post.special_type) %>
            </div></br>
            <div class="city-style">
              <% if post.user.profile %>
                <%= post.user.profile.street %>, <%= post.user.profile.city %><pan style="color: #5f882b;"> ፨ </pan><pan><% if user_signed_in? %><%= current_user.distance_to("#{post.user.profile.latitude} #{post.user.profile.longitude}").round(2) %> mi </pan>
              <% end %>
            <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <%= link_to post.user do %>
          <%= image_tag post.image, class: 'main-image' %>
        <% end %>
        <div class="description">
          <%= post.description %>
        </div>
          </section>
        <% end %>
      </div> 
    </div>
  </div>
</div>

