<%= form_for @post do |f| %>
  <div class="form-upload container well">
    <div class="form-group">
      <%= f.file_field :image %>
    </div>

    <div class="form-group text-center">
      <%= f.text_field :description %>
    </div>

    <div class="form-group">
      <span class="select">
        <%= f.select :special_type, collection: list_of_special_types, prompt: "Select a special_type type" %>
      </span>
    </div>
    <br>
    <div class="text-center">
      <%= f.submit 'Create Post', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
