<div class="page-wrapper post-show">
  <div class="container">
    <div class="well">
      <h2><%= @post.description %></h2>

      <div class="metadata">
        <div class="primary-label"><%= @post.special_type %></div>

        <div class="counter-label-show">
          <div><%= fa_icon "fire" %></div>
          <div><%= @post.impressions_count %></div>
        </div>
      </div>


      <div><%= @post.inspect %></div>
    </div>
  </div>
</div>
