<header><h1 class="display-4"><%= @place.name %></h1></header>
<p>Name: <%= @place.name %></p>
<p>Address: <%= @place.address %></p>
<p>Coordinates: <%= @place.latitude %> <%= @place.longitude %></p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&markers=#{@place.latitude},#{@place.longitude}&zoom=11&size=640x250&key=AIzaSyCLuRtge9JgTIfTTiCORmrMqahc3xW0H9I",
              class: 'map', alt: "#{@place.name} on the map"%>